{% extends 'base.html' %}
{% block title %}My Page{% endblock %}
{% block content %}
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">

            <li><a href="{% url 'members:order' %}">주문내역확인</a></li>
            <li><a href="{% url 'members:coupon' %}">쿠폰함/쿠폰등록</a></li>
            <li><a href="{% url 'members:profile' %}">개인정보확인/수정</a></li>
            <li><a href="{% url 'members:address' %}">배송지관리</a></li>


        </ul>
      </div>
    </nav>
{% endblock %}