{% extends 'base.html' %}
{% block title %}Search Order{% endblock %}
{% block content %}
        <style>
      .header1{
        display:block;width:1310px; height:25px; font-family: NanumGothic;font-size: 15px;font-weight: 800;font-style: normal;font-stretch: normal;line-height: 1.7;letter-spacing: normal;text-align: center;color: #32b09d;text-decoration: none;
        background-color: #d7f7f5;padding:11px;
      }
      .header1:hover{
        color:white;background-color: #32b09d;
      }
      .header2{
        background-color: #f1f3f5;height:38px;margin:0;
      }
      #h2_word{
        font-family: NanumGothic;font-size: 12px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 38px;letter-spacing: -0.24px;text-align:left; margin-left: 35px;color: #707070;
      }
      #h2_i{
        float:right; margin-right:80px; margin-top: 10px;
      }
      .search_line{
        float:right; margin-top:20px; margin-right:75px;width: 280px;height: 38px;border-radius: 19px;border: solid 1px #dee2e6;
      }
      .search_line>div {
        display:block; float:right; margin-right:140px; font-family: NanumGothic;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 2.6;letter-spacing: -0.28px;text-align: left;color: #c3c3c3;
      }
      #search_img{
        position: relative; top:20%; left:90%;
      }
      #rank_word{
        float:left; padding: 5px;width: 350px;height: 16px;object-fit: contain;font-family: NanumGothic;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.14;letter-spacing: -0.28px;text-align: left;color: #070707; text-decoration: none;
      }
      #rank_i{
        float:left; margin-right: 10px; margin-left: 35px;
      }

      #rank_word1,#rank_word2,#rank_word3,#rank_word4,#rank_word5,#rank_word6,#rank_word7,#rank_word8,#rank_word9,#rank_word10{
        font-family: NanumGothic;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 2.5;letter-spacing: -0.28px;text-align: left;color: #070707; vertical-align:super;text-decoration: none;
      }
      ,#ranki_1,#ranki_2,#ranki_3,#ranki_4,#ranki_5,#ranki_6,#ranki_7,#ranki_8,#ranki_9,#ranki_10{
        float:left;
      }
      #rank_word1:hover,#rank_word2:hover,#rank_word3:hover,#rank_word4:hover,#rank_word5:hover,#rank_word6:hover,#rank_word7:hover,#rank_word8:hover,#rank_word9:hover,#rank_word10:hover{
        color:#32b09d ;text-decoration: underline;
      }
      .rank_menu > h3{
        color:black;
      }
      .rank_menu{
        display:none; padding-left:25px;position:absolute; width:340px; height:430px; border: dashed 1px; color:#32b09d; margin-left: 35px; margin-top: -40px; background-color: #ffffff;
      }
      #down_i{
        transform: rotate(90deg); margin-top:5px;
      }
      #down_i:hover{
        background-color: red;
      }
      .search_ranking:hover .rank_menu{
        display:block;
      }

      .category{
        position:relative; display: inline-block; margin-left: 35px;float:left;width: 200px;height: 42px;object-fit: contain;font-family: NanumGothic;font-size: 14px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 2.8;letter-spacing: -0.28px;text-align: center;vertical-align: middle;color: #ffffff;text-decoration: none;

        background-color: #343a40;
      }
      .tteok_back,.hangoa_back,.bread_back,.guk_back,.fruit_back,.bunsik_back,.sauce_back,.yukgagong_back,.healthyfood_back,.drink_back{
        margin-left: 35px; width:200px;height:40px;background-color:#646664; opacity: 0.9;
      }
      #tteok,#hangoa,#bread,#guk,#fruit,#bunsik,#sauce,#yukgagong,#healthyfood,#drink{
        display:block; margin-left: 60px;font-family: NanumGothic;font-size: 14px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 40px;letter-spacing: -0.28px;text-align: left;color: #ffffff;text-decoration: none;
      }
      .tteok_back:hover,.hangoa_back:hover,.bread_back:hover,.guk_back:hover,.fruit_back:hover,.bunsik_back:hover,.sauce_back:hover,.yukgagong_back:hover,.healthyfood_back:hover,.drink_back:hover{background-color: #343a40;opacity: 0.9;}
      #submenu{
        display:none; position:absolute;
      }
      .top_menu:hover #submenu{
        display: block;
      }
      .somun,.recommendation,.best,.new_item,.Exhibitions,.Event,.Recipe{
        float:left;width: 142px;height: 42px;object-fit: contain;font-family: NanumGothic;font-size: 14px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 2.8;letter-spacing: -0.28px;text-align: center;vertical-align: middle;color: #070707;text-decoration: none;

        background-color: #ffffff;
      }
      .somun:hover,.recommendation:hover,.best:hover,.new_item:hover,.Exhibitions:hover,.Event:hover,.Recipe:hover{color:red;}

      .tteok_menu,.hangoa_menu,.bread_menu,.guk_menu,.fruit_menu,.bunsik_menu,.sauce_menu,.yukgagong_menu,.healthyfood_menu,.drink_menu{
        margin-left: 200px; background-color: #ffffff; width:179px; height:400px;display:none; border:solid 1px;
      }
      #tteok1,#tteok2,#tteok3,#hangoa1,#hangoa2,#hangoa3,#hangoa4,#bread1,#bread2,#bread3,#bread4,#guk1,#guk2,#guk3,#guk4,#fruit1,#fruit2,#fruit3,#bunsik1,#bunsik2,#bunsik3,#bunsik4,#sauce1,#sauce2,#sauce3,#yukgagong1,#yukgagong2,#yukgagong3{
        display:block; margin-left: 30px; margin-top: 20px;font-family: NanumGothic;font-size: 14px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 0px;letter-spacing: -0.28px;text-align: left;color:#646664 ;text-decoration: none;
      }
      #healthyfood1,#healthyfood2,#healthyfood3,#drink1,#drink2,#drink3{
        display:block; margin-left: 30px; margin-top: 20px;font-family: NanumGothic;font-size: 14px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 0px;letter-spacing: -0.28px;text-align: left;color:#646664 ;text-decoration: none;
      }
      #tteok1:hover,#tteok2:hover,#tteok3:hover,#hangoa1:hover,#hangoa2:hover,#hangoa3:hover,#hangoa4:hover,#bread1:hover,#bread2:hover,#bread3:hover,#bread4:hover,#guk1:hover,#guk2:hover,#guk3:hover,#guk4:hover,#fruit1:hover,#fruit2:hover,#fruit3:hover{color:#32b09d; text-decoration: underline;}

      #bunsik1:hover,#bunsik2:hover,#bunsik3:hover,#bunsik4:hover,#sauce1:hover,#sauce2:hover,#sauce3:hover,#healthyfood1:hover,#healthyfood2:hover,#healthyfood3:hover,#drink1:hover,#drink2:hover,#drink3:hover,#yukgagong1:hover,#yukgagong2:hover,#yukgagong3:hover{color:#32b09d; text-decoration: underline;}

      .tteok_back:hover .tteok_menu{display: block;}
      .hangoa_back:hover .hangoa_menu{display: block;}
      .bread_back:hover .bread_menu{display: block;}
      .fruit_back:hover .fruit_menu{display: block;}
      .guk_back:hover .guk_menu{display: block;}
      .bunsik_back:hover .bunsik_menu{display: block;}
      .sauce_back:hover .sauce_menu{display: block;}
      .healthyfood_back:hover .healthyfood_menu{display: block;}
      .yukgagong_back:hover .yukgagong_menu{display: block;}
      .drink_back:hover .drink_menu{display: block;}

      #logo_img{
        width:140px ;height:135px; position:absolute; top:65px; left:600px;}

      #line4{
        border:solid 1px #dee2e6;
      }
      #line5{
        border:solid 1px #f1f3f5; margin-top: 20px;margin-bottom: 20px;float:inherit;
      }
      .outbox{
           width: 1310px;height: 1730px; margin-top: -8px; background-color: #f1f3f5;
      }

      .mainbox{
          border: solid 1px white; width: 492px;height: 1730px; margin-top: -8px; background-color: white;
      }
      .main_title{
        font-family: NanumGothic;font-size: 26px;font-weight: bold;line-height: 1.15;letter-spacing: normal;text-align: left;color: #070707;
      }
      #line1{
       border:solid 1px #f1f3f5; float:left; margin-left:-157px; margin-top: 26px;
        }
      .order_date1{
        font-family: NanumGothic;font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.26px;text-align: center;color: #070707; float:left;margin-top: 5px;margin-left: 18px;margin-right: 12px; margin-bottom: 6px;
      }
      .order_date2{
        font-family: NanumGothic;font-size: 12px;font-weight: bold;line-height: 1.17;letter-spacing: -0.24px;text-align: center;color: #707070; float: left;margin-top: 5px;
      }
      .Receipt{
        width: 90px;height: 30px;object-fit: contain;border-radius: 4px;background-color: white; font-family: NanumGothic;font-size: 12px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 30px;letter-spacing: -0.24px;text-align: center;color: #070707; margin-left: 367px; margin-top: -30px; border:solid 1px #dee2e6;display: block; text-decoration: none;
      }
      .gray_box{
        width: 456px;height: 38px;object-fit: contain;border: solid 1px #dee2e6;background-color: #f1f3f5;margin-bottom: -10px;
      }
      #gray_word{
        font-family: NanumSquare;font-size: 14px;line-height: 38px;letter-spacing: -0.28px;text-align: left;color: #707070; margin-left: 12px;
      }
      .item_box{
        width: 456px;height: 180px;object-fit: contain;border: solid 1px #dee2e6; margin-top: 10px; margin-bottom: 15px;
      }
      #box{
        width: 80px;height: 80px;object-fit: contain;background-color: #f1f3f5; float:left;margin-top: -6px;margin-left: 12px;margin-right: 12px;

      }
      #item_title{
        font-family: NanumGothic;font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.26px;text-align: left;color: #707070;float:left;margin-top: 10px; margin-left: 12px;
      }
      #item_count{
        font-family: NanumGothic;font-size: 12px;font-weight:bold;line-height: 1.17;letter-spacing: -0.24px;text-align: left; color: #707070;margin-top: -3px; opacity: 0.7;
      }
      #item_count2{
        font-family: NanumGothic;font-size: 12px;font-weight:bold;line-height: 1.17;letter-spacing: -0.24px;text-align: left; color: #707070;margin-top: -3px; margin-bottom:5px; opacity: 0.7;

      }
      #item_price{
          font-family: NanumGothic;font-size: 16px;font-weight: 900;line-height: 1.19;letter-spacing: 0.7px;text-align: left;margin-top: 38px; margin-left: 105px;
      }
      #item_price2{
          font-family: NanumGothic;font-size: 16px;font-weight: 900;line-height: 1.19;letter-spacing: 0.7px;text-align: left;margin-top: 8px;
      }
      .gray_box2{
        width: 456px;height: 44px;object-fit: contain;border: solid 1px #dee2e6;background-color: #f1f3f5;margin-bottom: -10px; margin-top:-15px;
      }
      #gray_word2{
        font-family: NanumGothic;font-size: 13px;font-weight: bold;line-height: 44px;letter-spacing: -0.26px;text-align: left;color: #707070; float:left;
      }
      #gray_word3{
        font-family: NanumGothic;font-size: 12px;font-weight: bold;line-height: 1.17;letter-spacing: -0.24px;text-align: right;color: #707070; margin-right: 13px; margin-top: 8px;
      }

      #gray_word4{
        font-family: NanumGothic;font-size: 12px;font-weight: bold;line-height: 1.17;letter-spacing: -0.24px;text-align: right;color: #070707; margin-right: 6px; float:right;
      }
      #gray_word5{
        font-family: NanumGothic;font-size: 12px;font-weight: bold;line-height: 1.17;letter-spacing: -0.24px;text-align: right;color: #070707; margin-right: 13px; float:right;
      }
      #gray_word5:visited{color:#32b09b;}

      .drive_img{
        float:left; margin-top:13px;margin-left: 12px;margin-right: 10px;
      }
      .dilvery_info,.result1{
        font-family: NanumGothic;font-size: 17px;font-weight: 900;line-height: 1.18;letter-spacing: -0.34px;text-align: left;color: #070707;margin-left: 18px;
      }
      .sender{
        font-family: NanumGothic;font-size: 14px;font-weight: bold;line-height: 1.14;letter-spacing: -0.28px;text-align: left;color: #070707;margin-left: 18px;
      }
      .table1,.table2{
        float:left;margin-left: 18px;
      }
      #name1,#phone_num1,#email1,#address1,#message1{
        font-family: NanumGothic;font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.26px;color: #6f6f6f;
      }
      #name2,#phone_num2,#email2,#address2,#message2{
        font-family: NanumGothic;font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.26px;color: #070707;
      }
      .price1,.delivery_charge1,.Payment1{
        font-family: NanumGothic;font-size: 14px;font-weight: bold;line-height: 1.14;letter-spacing: -0.28px;text-align: left;color: #070707;margin-left:18px;float:left;
      }
      .price2,.delivery_charge2,.Payment2{  font-family: NanumGothic;font-size: 14px;font-weight: bold;line-height: 1.14;letter-spacing: -0.28px;text-align: right;color: #707070; margin-right: 17px;
      }
      .payment_box{
        width: 456px;height: 78px;object-fit: contain;border: solid 1px #dee2e6;background-color: #f1f3f5;margin-top: -10px;
      }
      #payment_word1{
        font-family: NanumGothic;font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.26px;text-align: left;color: #707070; float:left;margin-left: 18px; margin-right: 8px; margin-top: 20px;
      }
      #payment_word2{
        font-family: NanumGothic;font-size: 13px;font-weight: normal;line-height: 1.15;letter-spacing: -0.26px;text-align: left;color: #707070;margin-top: 20px;
      }
      #payment_word3{
        font-family: NanumGothic;font-size: 13px;font-weight: normal;line-height: 1.15;letter-spacing: -0.26px;text-align: left;color: #707070;margin-top: 10px; margin-left: 18px;float:left;
      }
      #payment_word4{
        font-family: NanumGothic;font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.26px;text-align: left;color: #707070;margin-top: 10px; margin-left: 5px;float:left;
      }
      #payment_word5{
        font-family: NanumGothic;font-size: 13px;font-weight: normal;line-height: 1.15;letter-spacing: -0.26px;text-align: left;color: #707070;margin-top: 10px; margin-left: 5px;float:left;
      }
      .result2{
        font-family: NanumGothic;font-size: 17px;font-weight: 900;line-height: 1.18;letter-spacing: -0.34px;text-align: right;color: #32b09d;margin-right: 17px; margin-top: -5px;
      }
      .backtothe{
        font-family: NanumGothic;font-size: 15px;font-weight: bold;line-height: 38px;letter-spacing: -0.3px;text-align: center;color: #32b09d;text-decoration: none;width: 158px;height: 38px;object-fit: contain;border-radius: 19px;border: solid 1px #32b09d;background-color: #ffffff;display: block;float:left; margin-left: 102px;
      }

      .b_cancel{
        font-family: NanumGothic;font-size: 15px;font-weight: bold;line-height: 38px;letter-spacing: -0.3px;text-align: center;color: #707070;width: 106px;height: 38px;object-fit: contain;border-radius: 19px;border: solid 1px #707070;background-color: #ffffff;display: block; text-decoration: none;margin-left: 165px;
      }

      #Customer_Service{
      width: 300px;height: 3px;margin-left: 90px;font-family: NanumGothic;font-size: 25px;font-weight: bold;line-height: 1.7;letter-spacing: normal;text-align: left;color: #070707;
      }

      #hours_of_business{
        float:left; width: 560px;height: 3px; margin-left: 90px; margin-bottom: 50px; font-family: NanumGothic;font-size: 12px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1.8;letter-spacing: -0.24px;text-align: left;color: #070707;
      }
      .b_inquiry_l,.b_kakao_l,.b_insta_l{
        float:left; margin-right:12px;width: 94px;height: 37px;border-radius: 6px;border: solid 1px #707070;background-color: #ffffff; margin-top: -16px;
      }
      #b_inquiry,#b_kakao,#b_insta{
        display:block; font-family: NanumGothic;font-size: 16px;font-weight: bold;font-style: normal;font-stretch: normal;letter-spacing: -0.32px;text-align:center;line-height: 37px; text-decoration: none;color: #444
      }
      #tail_mq
      {
        float:left; margin-left: 90px; margin-right:500px; height:20px;object-fit: contain;font-family: NanumGothic;font-size: 12px;font-weight: 900;font-stretch: normal;line-height: 1.17;letter-spacing: -0.24px;text-align: left;color: #070707;
      }
      #info1{
        float:left; margin-left: 90px; margin-bottom: 60px; object-fit: contain;font-family: NanumGothic;font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.6;letter-spacing: -0.24px;text-align: left;color: #070707;
      }
      #info2{
        float:left; margin-left:326px; margin-top:5px; object-fit: contain;font-family: NanumGothic;font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.6;letter-spacing: -0.24px;text-align: left;color: #070707;
      }
      #partnership,#terms,#p_info{
       float:left; margin-right:15px;object-fit: contain; font-family:NanumGothic;font-size: 14px;font-weight:900; text-decoration: none;font-stretch: normal;line-height:1.2 ;letter-spacing: -0.28px;text-align: left;color: #070707;
      }
      #line9{
        border:solid 1px #dee2e6;
      }
      #line8{
        border:solid 1px #dee2e6;
      }

    </style>


        <hr id="line4" width="98%"> <!--라인-->
    <center><div class="outbox">
    <center><div class="mainbox">
      <br><br>
      <img src="패스 1118.png"  srcset="패스 1118@2x.png 2x,  패스 1118@3x.png 3x" class="page_img" style="
      float:left; margin-left:22px;">
      <h2 style="float:left; margin-left:82px; margin-top:-2px;" class="main_title">회원 주문 상세 내역</h2><br>
      <br><br>

      <div class="order_date1">주문일자</div>
      <div class="order_date2">{{ order.created }}</div>
      <hr id="line1" width="72%"> <!--라인-->
      <br><br>
      <div class="order_date1" style="margin-top:-7px;">주문번호</div>
      <div class="order_date2" style="margin-top:-7px;">{{ order.orderno }}</div>
      <br>

         {% for orderitem in orderitems  %}
          <div class="gray_box">
        <div id="gray_word" style="float:left; font-weight:lighter">{{ orderitem.product.company }}</div>
        <div id="gray_word"style="float:left; font-weight:normal">{{ orderitem.product.company }}</div>
        <div id="gray_word"style="float:left; font-weight:bold">{{ orderitem.product.company }}</div>
        <div id="gray_word"style="float:left; font-weight:bolder">{{ orderitem.product.company }}</div>
        </div>
          <div class="item_box">
            <div id="item_title">{{ orderitem.product }}</div>
              <br><br>
            <div id="box"><img src="{{orderitem.product.image.url}}" width="80px" height="80px"></div>
            <div id="item_count2">옵션 : {{ orderitem.option }}</div>
              <br>
            <div id="item_count">수량 : {{ orderitem.quantity }}</div>
            <div id="item_price">가격: {{ orderitem.price }}</div>
         </div>
               <div class="gray_box2">
        <img src="패스 1125.png"  srcset="패스 1125@2x.png 2x,  패스 1125@3x.png 3x" class="drive_img">
        <div id="gray_word2">배송비 0원</div>
        <div id="gray_word3">출고완료</div>
        {% if order.transno %}
            <a href="#" id="gray_word5">{{ order.transno }}</a>
        {% endif %}
        {% if order.delivery %}
        <div id="gray_word4">{{ order.delivery }}</div>
        {% endif %}
      </div>
             <br>
         {% endfor %}

      <br>
      <br><br>
      <div class=dilvery_info>배송지 정보</div>
       <hr id="line3" width="93%" style="border:solid 1px black;"> <!--라인-->
      <div class="sender">받는 사람</div><br>
      <table class="table2">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td style="width:150px;height:28px;" id="name1">수령인</td>
            <td id="name2">{{ order.name }}</td>
          </tr>
          <tr>
            <td style="width:150px;height:28px;" id="phone_num1">핸드폰 번호</td>
            <td id="phone_num2">{{ order.phone }}</td>
          </tr>
          <tr>
            <td style="width:150px;height:28px;" id="email1">배송지</td>
            <td id="email2">{{ order.addr1 }} {{ order.addr2 }}</td>
          </tr>
          <tr>
            <td style="width:150px;height:28px;" id="email1">배송메세지</td>
            <td id="email2">{{ order.orderco }}</td>
          </tr>
          <tr style="height:10px;"></tr>
        </tbody>
      </table>

        <br>
              <div class=dilvery_info>결제 정보</div>
              <hr id="line3" width="93%" style="border:solid 1px black; margin-bottom:12px;"> <!--라인-->
              <div class="price1">상품 금액</div>
              <div class="price2" >{{ order.price }}원</div><br>
              <div class="delivery_charge1">배송비</div>
              <div class="delivery_charge2">0원</div><br>
              <div class="Payment1">결제 수단</div>
              <div class="Payment2" >신용카드</div><br>

              <hr id="line2" width="93%" style="margin-bottom:10px;border:solid 1px #f1f3f5;"> <!--라인--><br>
              <div class="result1" style="float:left;margin-top: -10px;">결제 금액</div>
              <div class="result2" style="font-family: NanumGothic;font-size: 17px;font-weight: 900;line-height: 1.18;letter-spacing: -0.34px;text-align: right;color: #32b09d;margin-right: 18px; margin-top: -10px;">{{ order.price }}원</div><br><br>
              <a href="{% url 'members:order' %}" class="backtothe">목록으로 돌아가기</a>
              <a href="#" class="b_cancel">주문 취소</a>




    </div></center>
  </div></center>
    <hr id="line9" width="100%" style="margin-top:0px;" > <!--라인-->

    </div>


{% endblock %}