{% extends 'base.html' %}
{% block title %}My Page{% endblock %}
{% block content %}
    <nav class="navbar navbar-default">
      <div class="container">
        개인정보확인<br>
          <form action="" method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                 {{form.as_table}}
            </table>
            <input type="submit" value="수정하기">
              <a href="{% url 'account_change_password' %}">비밀번호 변경</a><br>
              <a href="{% url 'members:delete' %}">계정 탈퇴</a>

          </form>
      </div>
    </nav>
{% endblock %}