{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block head_links %} 

<title>Signup</title>

{% endblock %}

{% block content %}
<div class="container-fluid">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}
  

<h3 class="h3" id="head_banner">{% trans "Sign Up" %}</h3>

<p class="exist_account_info">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="container-fluid text-center" id="signup_form" method="post" action="{% url 'members:signup' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}



  {% if redirect_field_value %}


  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

  {% endif %}

  <button class="btn btn-outline-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
</form>



</div>



<h1>SEND SMS!</h1>
<form action="" method="post" name="send">
    {% csrf_token %}
    <div>{{ send_form }}</div>
    <button type="button" id="send1" onclick="sending();" value="seend">전송하기</button>
</form>

<form action="" method="post" name="confirm">
    {% csrf_token %}
    <div>{{ confirm_form }}</div>
    <button type="submit">인증하기</button>
</form>

<script type="text/javascript">
function sending() {
    var send_form = document.send;
    if($('#id_msg_getter').val()){
        var value = $('#id_msg_getter').val();
        sessionStorage.setItem('sent',value);
        send_form.submit();
    //alert(value);
        return value;
    }
    //document.getElementById("id_msg_getter").setAttribute("value",value);
    //document.getElementById("divId").innerHTML += "<input type='text' name='' id=''/>";
}
if(sessionStorage.getItem('sent')!=null)
    document.getElementById("id_msg_getter").setAttribute("value",sessionStorage.getItem('sent'));

</script>

{% endblock %}
