{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock %}

{% block script %}
<script type="text/javascript">
csrf_token = '{{ csrf_token }}';
order_create_url = '{% url "orders:order_create_ajax" %}';
order_checkout_url = '{% url "orders:order_checkout" %}';
order_validation_url = '{% url "orders:order_validation" %}';
order_complete_url = '{% url "orders:order_complete" %}';
</script>

<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js" type="text/javascript"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

{% load static %}
<script src="{% static 'js/checkout.js' %}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
              Your Order
            </div>
    <ul class="list-group">
        {% for item in cart %}
            <li class="list-group-item">
                <img src="{{item.product.image.url}}" width="10%">
                {{item.product.name}}  ({{item.option.name}}) <br>
                수량 : {{item.quantity}}<br>
                <span>금액 : {{item.total_price}}원</span>
            </li>
        {% endfor %}
    </ul>
            <div class="alert alert-success" role="alert">총 상품금액 : {{cart.get_total_price|floatformat:"2"}}원</div>
            <div class="alert alert-bad" role="alert">
                할인 금액 : <div id="discount">0.00</div>원
            </div>
            <div class="alert alert-bad" role="alert">실 결제 금액 : <div id="actual_price">{{ cart.get_total_price|floatformat:"2" }}원</div></div>>

    <!-- form에 class 추가 -->
    <form action="" method="post" class="order-form">
        {{ order_create_form.as_p}}
        <button type="button" style="width:60px; height:32px;" onclick="openZipSearch()">검색</button><br>

        <br>
        <br>
        {% csrf_token %}
        <!-- hidden field 추가-->
        <input type="hidden" name="pre_order_id" value="0">
        <input type="hidden" name="amount" value="{{ cart.get_total_price|floatformat:'2' }}">
        <input type="submit" class="btn btn-primary float-right" value="Place Order">
        <input type="submit" value="coupon test" class="btn btn-primary" onclick="PricePost();">
    </form>
    <script language="JavaScript">
        function openZipSearch() {
	        new daum.Postcode({
		        oncomplete: function(data) {
			        $('[name=zip]').val(data.zonecode); // 우편번호 (5자리)
			        $('[name=addr1]').val(data.address);
			        $('[name=addr2]').val(data.buildingName);
		        }
	        }).open();
        }
    </script>
    <!--coupon select-->
        <select id="coupon_select_box" onChange="SetSelectBox();">
            <option value="0" selected="selected">선택 안함</option>
        {% for coupon in coupons %}
            <option value="{{ coupon.coupon.discount }}">{{ coupon.coupon.name }}</option>
        {% endfor %}
        </select>
            <script language="javascript">
                function SetSelectBox() {
                    var select = document.getElementById("coupon_select_box");
                    var selected_value = select.options[select.selectedIndex];
                    document.getElementById("discount").innerText = selected_value.value;
                    SetActualPrice();
                }
                function SetActualPrice() {
                    var total_price = {{ cart.get_total_price }};
                    var coupon_price = document.getElementById("discount").innerText
                    document.getElementById("actual_price").innerText = total_price - parseInt(coupon_price);
                }
                function PricePost() {
                    var actual_price = document.getElementById("actual_price");

                    var form = document.createElement("form");
                    form.setAttribute("charset", "UTF-8");
                    form.setAttribute("method", "POST");

                    /*var csrf_token = document.createElement("input");
                    csrf_token.setAttribute("type", "hidden");
                    csrf_token.setAttribute("name", "csrfmiddlewaretoken");
                    csrf_token.setAttribute("value", {% csrf_token %});
                    form.appendChild(csrf_token);
                    document.body.appendChild(form);*/

                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("aria-label", "price_post");
                    hiddenField.setAttribute("placeholder", "price_post");
                    hiddenField.setAttribute("name", "price_post");
                    hiddenField.setAttribute("value", actual_price);
                    form.appendChild(hiddenField);
                    document.body.appendChild(form);
                    form.submit();
                }
            </script>
    </div>
    </div>
{% endblock %}