<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <!-- jquery slim 지우고 minified 추가 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block script %}
    {% endblock %}

    {% block style %}
    {% endblock %}
</head>



<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}?ver=1">
<a href="#" class="header1"> 좋은 품질의 제품만 쏜다! 마켓큐피드 혜택 보기</a>
   <div class="header2">
      <div id="h2_word"> 고객센터 031-606-8808 (평일 l 오전 10시~오후 6시, 점심시간 l 오후 12시~오후 1시)</div>
      <a href="#" id="myq">마이큐피드</a><a href="/accounts/signup/" id="join">회원가입</a>

       {% if user.is_authenticated %}
       <a href="accounts/login/" id="logout">로그인 </a>
        {% endif %}

       <a href="#" id="basket">장바구니</a>
    </div>

      <form action="{% url 'shop:search' %}" class="search_line1">
          <button class="search_img" type="submit"><img id="search_img" src="{% static "image/그룹 10.png" %}"></button>
          <input class="search_line2" type="search" placeholder="  search" aria-label="search" name="search">

      </form>

    <!--<p class="search_ranking">
      <img src="그룹 11.png" srcset="그룹 11@2x.png 2x, 그룹 11@3x.png 3x" id = "rank_i"></img>
      <div id="rank_word">족발 한줄_이젠 김밥 대신 족발들고 소풍가자!</div>
    </p>-->
    <br><br><br>

    <a href="/"><img src="{%  static "image/logo.png"%}" id="logo_img"></a>  <!--***********logo************-->
    <br>

    <div class="top_menu">
      <a href="#" class="category">
        <img src="{%  static "image/그룹 26.png" %}"  srcset="그룹 26@2x.png 2x,  그룹 26@3x.png 3x" id="category_i" style="float:left; margin-top:14px; margin-left:36px; margin-right:20px;"></img>
        <div style="margin-left:-10px;">전체 카테고리</div>
      </a>
      <a href="#" class="somun">소문내면 특가</a>
      <a href="#" class="recommendation">큐피드 추천</a>
      <a href="{% url 'shop:best_item' %}" class="best">베스트</a>
      <a href="{% url 'shop:new_item' %}" class="new_item">신상품</a>
      <a href="{% url 'shop:collection' %}" class="Exhibitions">기획전</a>
      <a href="{% url 'shop:event' %}" class="Event">이벤트</a>
      <a href="{% url 'shop:recipe' %}" class="Recipe">레시피</a>
      <!--<div style="position: relative;">
        <img src="마스크 그룹 4.png" srcset="마스크 그룹 4@2x.png 2x, 마스크 그룹 4@3x.png 3x">
      </div>-->
    </div>
    <br><br>

    {% block content %}
    {% endblock %}
    <br><br>
    <br><br>
    <hr style="border:solid 1px #f1f3f5;" width="100%"> <!--라인-->

    <p id="Customer_Service"f>
      고객센터 031-606-8808
    </p>
    <br>
    <p id="hours_of_business">
      평일 l 오전 10시~오후 6시, 점심시간 l 오후 12시~오후 1시
    </p>

    <button id="b_inquiry">1:1문의</button>
    <button id="b_kakao">카카오톡</button>
    <div class="b_insta_l">
      <a href="https://www.instagram.com/market_qufide/" id="b_insta">인스타그램</a>
    </div>
    <br>
    <hr id="line8" width="86%"> <!--라인-->
    <br>

    <div id="tail_mq">마켓큐피드</div>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfdGy1Jvt9uyhN9IzDiGU-oceGBfSGLGAhTr7CY4BamBRDFpw/viewform?usp=pp_url" id="partnership">입점신청/OME/제휴 </a>
    <a href="#" id="terms">이용약관 </a>
    <a href="#" id="p_info">개인정보처리방침 </a>
    <br>
    <div id="info1">대표이사 : 김혜미 <br> 사업자등록번호 : 655-04-01258 <br> 통신판매업신고 : 2019-성남분당B-0558<br> 주소 : 경기도 성남시 분당구 성남대로 52, 8층 <br> 호스팅 사업자 : 아마존 웹 서비스(AWS)</div>
    <div id="info2">전화번호 : 031-606-8808~9 <br> 이메일 : cowalkers@naver.com <br> Copyright(c) 2019 마켓큐드. All right reserverd</div>

</body>
</html>