{% extends 'base.html' %}
{% block title %}Comments{% endblock %}
{% block content %}

<script type="text/javascript">
    // get url query string
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
// 정렬방식 셀렉트 박스 유지
$(document).ready(function(){
  var orderby = getUrlParameter('orderby');
  if(orderby == 'date'){
    $('.sort-date').prop('selected', 'selected')
  }else{
    $('.sort-like').prop('selected', 'selected')
  }
});
    </script>

    <div class="container">

        <h3> Comments </h3>
                    <!-- Single Comment -->

        <form action="{% url 'shop:comment' product.id product.slug %}" method="get">
        <select id="orderby" name="orderby" onchange="this.form.submit();">
            <option class="sort-like" value="like">추천순</option>
            <option class="sort-date" value="date">최신순</option>
        </select>
        </form>

                     {% for comment in comments %}
                        <a href="{% url 'shop:comment_detail' comment.id %}">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">날짜: {{comment.author}}</h5>
                            <h5 class="mt-0">날짜: {{comment.comment_created}}</h5>
                            <h5 class="mt-0">내용: {{comment.comment_text}}</h5>
                            <h5 class="mt-0">평점: {{comment.like}}</h5>
                         </div></a>
                      {% endfor %}


            <h1>New comment</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                <table>
                {{ form.as_table }}

                </table>
                <button type="submit" class="save btn btn-default">Send</button>
            </form>

    </div>
{% endblock %}