{% extends 'base.html' %}
{% block title %}Comment_detail{% endblock %}
{% block content %}

    <div class="container">

        <h3> Comments </h3>
                    <!-- Single Comment -->



                            {% if comment.comment_image.url != None %}
                            <img src="{{comment.comment_image.url}}" width="50%">
                            {% endif %}
                            {% if comment.comment_image2.url != None %}
                                <img src="{{comment.comment_image2.url}}" width="50%">
                            {% endif %}
                            {% if comment.comment_image3.url != None %}
                                <img src="{{comment.comment_image3.url}}" width="50%">
                            {% endif %}
                        <div class="media-body">
                            <h5 class="mt-0">{{comment.comment_created}}</h5>
                            <h5 class="mt-0">{{comment.comment_text}}</h5>
                         </div>


        <td><a href="{% url 'shop:delete_comment' comment.id %}">삭제하기</a></td>
        <td><a href="{% url 'shop:update_comment' comment.id %}">수정하기</a></td>


    </div>
{% endblock %}