{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}
{% load social_share %}



<script type="text/javascript">

var saled_price = {{product.price}}*(100-{{product.sale_percent}})/100;

function optionchange(obj){
    document.getElementById('field').innerHTML="";
    var div = document.createElement('div');
    div.setAttribute("id", obj.value);
    div.innerHTML += "옵션" + document.getElementById('option').value;
    div.innerHTML += document.getElementById('selected').innerHTML;
    document.getElementById('field').appendChild(div);

};

function add(){
    document.getElementById("id_quantity").value++;
};

function del(){
    if (document.getElementById("id_quantity").value > 1) {
			document.getElementById("id_quantity").value -= 1;
		}
};


    </script>


        <div class="container">

            <div class="row">
                <div class="col-4">
                    <img src="{{product.image.url}}" width="100%">
                    {% if product.image2.url != None %}
                        <img src="{{product.image2.url}}" width="100%">
                    {% endif %}
                    {% if product.image3.url != None %}
                        <img src="{{product.image3.url}}" width="100%">
                    {% endif %}
                    {% if product.image4.url != None %}
                        <img src="{{product.image4.url}}" width="100%">
                    {% endif %}
                    {% if product.image5.url != None %}
                        <img src="{{product.image5.url}}" width="100%">
                    {% endif %}
                </div>
                <div class="col">
                    <h1 class="display-6">{{product.name}}</h1>
                    <div class="share-discount">
                        <div class="share-count">
                            <span class="count count-off" id="count-0">empty</span>
                            <span class="count count-off" id="count-1">empty</span>
                            <span class="count count-off" id="count-2">empty</span>

                        </div>
                            <a href="javascript: void sendDetailSns();" class="btn btn-danger btn-gray disabled" id="kakaoShareBtn">카카오톡 공유하고 1,500원 할인쿠폰 받기</a>
                    </div>
                    <p>
                        <h5><span class="badge badge-secondary">Price</span>  {% if product.sale_percent == 0 %}
                        <span class="cart-text">{{product.price}}원</span>
                        {% else %}
                        <span class="cart-text">
                            <script>document.write(Math.floor(saled_price));</script>원
                        </span>
                        <strike class="cart-text">{{product.price}}</strike>
                        <span class="cart-text">-{{product.sale_percent}}%</span>
                        {% endif %}<h5>
                    </p>

                    <h5><span class="badge badge-secondary">Description</span>{{product.description|linebreaks}}</h5>


                    <h5><span class="badge badge-secondary">옵션</span>
                        <form name="form1" action="{% url 'cart:product_add' product.id %}" method="post" enctype="multipart/form-data">
                        <select id="option" name="option_id" onchange="optionchange(this);">
                            <option class="option-0">옵션선택
                            {% for option in options %}
                            <option value="{{option.id}}">
                                {{option.name}}&nbsp;&nbsp;
                                남은수량: {{option.stock}}&nbsp;&nbsp;
                                추가금: +{{option.add_price}}원
                            </option>
                            {% endfor %}
                        </select>

                            <br>


                            <div id="field">

                            </div>



                            {% csrf_token %}




                        </form>



                    {% if product.recipe_name != '' %}
                        <form action="{% url 'shop:recipe_detail' product.id product.slug %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-sm" value="Recipe">
                        </form>
                    {% endif %}

                            <div>
                            <b>TAGS: </b>
                            {% load tagging_tags %}
                            {% tags_for_object product as tags %}
                            {% for tag in tags %}
                            <a href="/search/?search={{ tag.name }}">{{tag.name}}</a>
                            {% endfor %}
                            </div>
                </div>
            </div>

             <div id="selected" style="display:none;">
                 수량 : {{add_to_cart.quantity}}
                 <button class="ui button" type="button" onclick="del();">-</button>
                 <button class="ui button" type="button" onclick="add();">+</button>
                 <input type="submit" class="btn btn-primary btn-sm" value="장바구니">
             </div>


            <div id="div1" style="display:none;">
                상품: {{product.name}}<br>
                옵션: {{option.name}}<br>
                가격: <script>document.write(all_price);</script><br>
            </div>
            <div id="product_detail_recipe">
                <h3>만들 수 있는 요리들~</h3>
                <div class="row">
                    {% for recipe in recipes %}
                       <div class="col-4">
                            <div class="card">
                              <img class="card-img-top" src="{{recipe.thumbnail.url}}" alt="Product Image">
                              <div class="card-body">
                                  <h5 class="card-title">{{recipe.name}}</h5>
                                  <a href="{{recipe.get_absolute_url}}" class="btn btn-primary">View Recipe</a>
                              </div>
                            </div>
                       </div>
                    {% endfor %}
                </div>
            </div>

	        <h3>묶음배송</h3>
                <div class="row">
                    {% for relative_product in relative_products %}
                       <div class="col-4">
                            <div class="card">
                              <img class="card-img-top" src="{{relative_product.image.url}}" alt="Product Image">
                              <div class="card-body">
                                  <h5 class="card-title">{{relative_product.name}}</h5>
                                  <a href="{{relative_product.get_absolute_url}}" class="btn btn-primary">View Detail</a>
                              </div>
                            </div>
                       </div>
                    {% endfor %}
                </div>


        </div>

    </div>


<script type="text/javascript">
    // get url query string
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
// 정렬방식 셀렉트 박스 유지
$(document).ready(function(){
  var orderby = getUrlParameter('orderby');
  if(orderby == 'date'){
    $('.sort-date').prop('selected', 'selected')
  }else{
    $('.sort-like').prop('selected', 'selected')
  }
});
    </script>

    <h3> Comments </h3>
                    <!-- Single Comment -->
    <form action="{% url 'shop:product_detail' product.id product.slug %}" method="get">
        <select id="orderby" name="orderby" onchange="this.form.submit();">
            <option class="sort-like" value="like">추천순</option>
            <option class="sort-date" value="date">최신순</option>
        </select>
        </form>
                    <form action="{% url 'shop:comment' product.id product.slug %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Comment" class="btn btn-outline-primary">
                    </form>

                    <script>
                    var sum=0;
                    </script>

                    <table class="table table-striped">
                        {% for comment in comments %}
                     <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                     </tr>
                        {% endfor %}
                    </table>
                    <div class="row">
                     {% for comment in comments %}
                            {% if comment.comment_image.url != None %}
                            <img src="{{comment.comment_image.url}}" width="10%">
                            {% endif %}
                            {% if comment.comment_image2.url != None %}
                                <img src="{{comment.comment_image2.url}}" width="10%">
                            {% endif %}
                            {% if comment.comment_image3.url != None %}
                                <img src="{{comment.comment_image3.url}}" width="10%">
                            {% endif %}
                    </div>
                        <div class="media-body">
                            <script>sum+={{comment.like}};</script>
                            <h5 class="mt-0">작성자: {{comment.author}}</h5>
                            <h5 class="mt-0">날짜: {{comment.comment_created}}</h5>
                            <h5 class="mt-0">내용: {{comment.comment_text}}</h5>
                            <h5 class="mt-0">평점: {{comment.like}}</h5>
                         </div>
                      {% endfor %}

                    <script>
                    var avg;
                    avg=sum/{{comments|length}};

                    </script>

                    </div>
    <h4> 평점 : <script> document.write(avg.toFixed(2)) </script> </h4>

    </div>



    <button type="button" class="btn btn-light">{% post_to_facebook post.get_absolute_url "Facebook" %}</button>

    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    </head>
    <body>
    <a id="kakao-link-btn" href="javascript:;">
    <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
    </a>
    <script type='text/javascript'>

      //<![CDATA[
        // // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('92dd12b816c6f2824075b01c8b9446f2');
        // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
        localhost='127.0.0.1:8000'
            Kakao.Link.createDefaultButton({
          container: '#kakao-link-btn',
          objectType: 'feed',
          content: {
            title: '{{product.name}}',
            description: '{{product.description}}',
            imageUrl: '{{product.image.url}}',
            link: {
              mobileWebUrl: localhost+'{{product.get_absolute_url}}',
              webUrl: localhost+'{{product.get_absolute_url}}'
            }
          },
          buttons: [
            {
              title: '웹으로 보기',
              link: {
                mobileWebUrl: localhost+'{{product.get_absolute_url}}',
                webUrl: localhost+'{{product.get_absolute_url}}'
              }
            }
            ],
          success: function(){	          serverCallbackArgs : '{"product_id":"{{product.id}}", "user_id":"{{ user }}"}',
            count++;	          callback: function(){

                for (var i = 0; i < 3; i++) {
                    if ($("#count-" + i).hasClass("count-off")) {
                        $("#count-" + i).removeClass("count-off");
                        $("#count-" + i).addClass("count-" + "on");
                        $("#count-" + i).html("공유완료");
                        break;
                    }
                }
                if (!($(".share-count span").hasClass("count-off"))){
                    $("#kakaoShareBtn").removeClass("btn-gray");
                    $("#kakaoShareBtn").removeClass("disabled");
                    alert("쿠폰발급");
                }
          }
        });


      //]]>
    </script>

    </body>
    </html>

{% endblock %}