{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}


        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{{product.image.url}}" width="100%">
                </div>
                <div class="col">
                    <h1 class="display-6">{{product.name}}</h1>

                    <p><span class="badge badge-secondary">Price</span> {{product.price}}</p>
                    <form action="{% url 'cart:product_add' product.id %}" method="post">
                        {{add_to_cart}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
                    </form>
                    <h5><span class="badge badge-secondary">Description</span>{{product.description|linebreaks}}</h5>
                </div>

            </div>
            <h3> Comments </h3>
                <table class="table table-striped">
                    {% for comment in comments %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{ % url 'shop:comment_delete' comment.id % }">삭제하기</a></td>
                            <td><a href="{ % url 'shop:comment_update' comment.id % }">수정하기</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="row">
                     {% for comment in comments %}
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.comment_created }}</h5>
                            <h5 class="mt-0">{{ comment.comment_text }}</h5>
                         </div>
                      {% endfor %}

                </div>
        </div>


{% endblock %}