{% extends 'base.html' %}
{% block title %}Market Qufide{% endblock %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/js/instafeed.min.js"></script>
    {% load static %}
    <script src="{% static 'js/instafeed.min.js' %}" type="text/javascript">
        var feed = new Instafeed({
            get: 'user',
            limit: 10,
            sortBy: "most-recent",
            template: '<a class="animation" href="{{ full_name }}" target="_blank"> <img src="{{ image }}" /></a>',
        });
        feed.run();
    </script>
</head>
    <body>
       <br><br>
    <div>
          <div class="slideshow-container" style="position: relative;">
        {% for banner in banners %}
            <div class="mySlides">
                <a href="{{ banner.url }}"><img  src="{{ banner.image.url }}"></a>
            </div>
        {% endfor %}
        <a class="prev" style="cursor:pointer" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" style="cursor:pointer" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
    </script>
     <div class="list-group">
        {% for c in categories %}
            {% if not c.get_parent_node %}
                <div class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}">
                    <a href="{{c.get_absolute_url}}">{{c.name}}</a>
                {% for child in c.get_descendants %}
                    <div class="tteok_menu {% if current_category.slug == child.slug %}active{% endif %}">
                        <a href="{{child.get_absolute_url}}">{{child.name}}</a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

      <!--<div class="hangoa_back"style="position: absolute; top:259px; left:8px">
        <a href="#" id="hangoa">한과</a>
        <div class="hangoa_menu"style="margin-top:-80px;">
          <a href="#" id="hangoa1">맛있는 한과</a><br>
          <a href="#" id="hangoa2">쫄깃한 한과</a><br>
          <a href="#" id="hangoa3">달콤한 한과</a><br>
          <a href="#" id="hangoa4">취향저격 한과</a><br>
        </div>
      </div>
      <div class="bread_back"style="position: absolute; top:299px; left:8px">
        <a href="#" id="bread">빵</a>
        <div class="bread_menu"style="margin-top:-120px;">
          <a href="#" id="bread1">식빵</a><br>
          <a href="#" id="bread2">카스테라</a><br>
          <a href="#" id="bread3">바게트</a><br>
          <a href="#" id="bread4">쿠키</a><br>
        </div>
      </div>
      <div class="guk_back"style="position: absolute; top:339px; left:8px">
        <a href="#" id="guk">국</a>
        <div class="guk_menu"style="margin-top:-160px;">
          <a href="#" id="guk1">찌개</a><br>
          <a href="#" id="guk2">미역국</a><br>
          <a href="#" id="guk3">북엇국</a><br>
          <a href="#" id="guk4">육개장</a><br>
        </div>
      </div>
      <div class="fruit_back"style="position: absolute; top:379px; left:8px">
        <a href="#" id="fruit">수산·고기·과일</a>
        <div class="fruit_menu"style="margin-top:-200px;">
          <a href="#" id="fruit1">수산</a><br>
          <a href="#" id="fruit2">고기</a><br>
          <a href="#" id="fruit3">과일</a><br>
        </div>
      </div>
      <div class="bunsik_back"style="position: absolute; top:419px; left:8px">
        <a href="#" id="bunsik">분식·튀김·만두</a>
        <div class="bunsik_menu"style="margin-top:-240px;">
          <a href="#" id="bunsik1">떡볶이</a><br>
          <a href="#" id="bunsik2">오뎅</a><br>
          <a href="#" id="bunsik3">튀김</a><br>
          <a href="#" id="bunsik3">만두</a><br>
        </div>
      </div>
      <div class="yukgagong_back"style="position: absolute; top:459px; left:8px">
        <a href="#" id="yukgagong">육가공</a>
        <div class="yukgagong_menu"style="margin-top:-280px;">
          <a href="#" id="yukgagong1">육가공1</a><br>
          <a href="#" id="yukgagong2">육가공2</a><br>
          <a href="#" id="yukgagong3">육가공3</a><br>
        </div>
      </div>
      <div class="sauce_back"style="position: absolute; top:499px; left:8px">
        <a href="#" id="sauce">반찬·소스·장류</a>
        <div class="sauce_menu"style="margin-top:-320px;">
          <a href="#" id="sauce1">반찬</a><br>
          <a href="#" id="sauce2">소스</a><br>
          <a href="#" id="sauce3">장류</a><br>
        </div>
      </div>
      <div class="drink_back"style="position: absolute; top:539px; left:8px">
        <a href="#" id="drink">즙·음료·주스</a>
        <div class="drink_menu"style="margin-top:-360px;">
          <a href="#" id="drink1">즙</a><br>
          <a href="#" id="drink2">음료</a><br>
          <a href="#" id="drink3">주스</a><br>
        </div>

      </div>
      <div class="healthyfood_back"style="position: absolute; top:579px; left:8px">
        <a href="#" id="healthyfood">건강식품</a>
        <div class="healthyfood_menu"style="margin-top:-400px;">
          <a href="#" id="healthyfood1">족발</a><br>
          <a href="#" id="healthyfood2">보쌈</a><br>
          <a href="#" id="healthyfood3">등갈비</a><br>
        </div>
      </div>-->
    </div>
    <p class="t_somun">
      소문내면 특가
      <img src="{% static "image/확성기.PNG" %}" style="position: relative; top:-4px; left:-2px">
      <p id="item_box" style="margin-left:100px;"></p> <p id="item_box"></p><p id="item_box" ></p><p id="item_box"></p>
    </p>
    <a class="item_more" href="#">특가상품 더보기</a>
    <p class="t_recommendation">큐피드 추천
      <img src="{% static "image/그룹 70.png" %}" style="position: relative; top:-3px; left:1px">
      <p id="item_box" style="margin-left:100px;"></p> <p id="item_box"></p><p id="item_box" ></p><p id="item_box"></p>
    </p>
    <p class="t_Hot_clip">HOT 클립
      <img src="{% static "image/패스 31.png" %}" style="position: relative; top:-3px; left:1px">
      <p id="item_box" style="margin-left:100px;"></p> <p id="item_box"></p><p id="item_box" ></p><p id="item_box"></p>
    </p>
    <p class="t_best">
      베스트
      <p id="item_box" style="margin-left:100px;"></p> <p id="item_box"></p><p id="item_box" ></p><p id="item_box"></p>
    </p>
    <p class="banner3">
      배너3(이미지)
    </p>
    <p class="t_best_review">
      베스트 후기
      <p id="item_box" style="margin-left:100px;"></p> <p id="item_box"></p><p id="item_box" ></p><p id="item_box"></p>
    </p>
    <p class="t_instagram">인스타그램</p>
       <div id="insta">
        <div id="instafeed">
                <script type="text/javascript">
                    console.log("here")
                    var access_token="9533696900.b62fa1c.58f8e2395c1c430a94f6239bde18af45";
                    var api_endpoint="https://api.instagram.com/v1/users/self/media/recent/?access_token=" + access_token;
                    $.get(api_endpoint, function(json) {
                        var instabanner = $('#instafeed');
                        var outputHtml = "";
                        outputHtml += '<ul>';

                        var limit = 5;
                        var myfeed = json.data;
                        console.log(myfeed)
                        for (var i=0 ; i<limit ; i++) {
                            outputHtml += '<li>';
                            outputHtml += '<a href="'+myfeed[i].link+'" target=" blank">';
                            outputHtml += '<img class="insta-content-img" src="' +myfeed[i].images.thumbnail.url+'" />';
                            outputHtml += '</a>';
                            outputHtml += '</li>';
                        }
                        outputHtml += "</ul>";
                        instabanner.html(outputHtml);
                    });
                </script>
        </div>
       </div>
       <br>
   <center><p class="instagram_id">@market_qufide</p></center>

<!-- for channeltalk -->
<script>
  ;window.channelPluginSettings = {
    "pluginKey": "f50ac0eb-d697-497b-a54a-fb2bdad0936b"
  };
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var d = window.document;
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
</script>

    </body>
{% endblock %}