{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/js/instafeed.min.js"></script>
    {% load static %}
    <script src="{% static 'js/instafeed.min.js' %}" type="text/javascript">
        var feed = new Instafeed({
            get: 'user',
            limit: 10,
            sortBy: "most-recent",
            template: '<a class="animation" href="{{ full_name }}" target="_blank"> <img src="{{ image }}" /></a>',
        });
        feed.run();
    </script>
</head>
    <!--for banner slider-->
    <div class="slideshow-container">
        {% for banner in banners %}
            <div class="mySlides">
                <a href="{{ banner.url }}"><img  src="{{ banner.image.url }}"></a>
            </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
    </script>



        <!--for instagram-->
        <div id="instagram-container">
            <a href="https://www.instagram.com/market_qufide/">
                <h3>인스타그램</h3>
            </a>
            <div id="instafeed">
                <script type="text/javascript">
                    console.log("here")
                    var access_token="9533696900.b62fa1c.ce30bfb628634aeaaaea6337d44b6a6f";
                    var api_endpoint="https://api.instagram.com/v1/users/self/media/recent/?access_token=" + access_token;
                    $.get(api_endpoint, function(json) {
                        var instabanner = $('#instafeed');
                        var outputHtml = "";
                        outputHtml += '<ul>';

                        var limit = 5;
                        var myfeed = json.data;
                        console.log(myfeed)
                        for (var i=0 ; i<limit ; i++) {
                            outputHtml += '<li>';
                            outputHtml += '<a href="'+myfeed[i].link+'" target=" blank">';
                            outputHtml += '<img src="' +myfeed[i].images.thumbnail.url+'" />';
                            outputHtml += '</a>';
                            outputHtml += '</li>';
                        }
                        outputHtml += "</ul>";
                        instabanner.html(outputHtml);
                    });
                </script>
            </div>
        </div>

    <!--for inquiry-->
    <a class="nav-link btn btn-outline-success" href="{% url 'qna:index' %}">1:1문의</a>

{% endblock %}