{% extends 'base.html' %}
{% block title %}Recipe Page{% endblock %}
{% block content %}
    <div class="row">
            {% for product in products %}

                <div class="col-4">
                    <div class="card">
                      <img class="card-img-top" src="{{product.image.url}}" alt="Product Image">
                      <div class="card-body">
                        <h5 class="card-title">{{product.recipe_name}}</h5>
                          <a href="{{product.get_recipe_absolute_url}}" class="btn btn-primary">레시피보기</a>
                      </div>
                    </div>
                </div>

            {% endfor %}
            </div>
{% endblock %}